
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}
nav ul{
  list-style: none;
}
nav li a{
  text-decoration: none;
  font-size: 28px;
  color: rgba(13, 19, 33, 1);
}

.btn-primary{
  font-size: 15px;
  padding: 10px 7px;
  border-bottom: 1px solid rgba(13, 19, 33, 1);
  border-redius: 25px;
}

 /* hero section style */

 .hero{
  background-image: url(../assets/Hero-bg.png);
  width: 1400px;
  height: 500px;
 }
 .hero-section{
  text-align: center;
  width: 1520px;
  height: px;
 }
 .title{
  text-size: 48px;
  text-align: center;
 }

 /* btn-secondary style */


 .button2{
  text-align: center;
  padding-top: 10px;
 }
 .btn-secondary{
  text-align: center;
  font-size: 15px;
 }
 .button2 .btn-secondary{
  color: #FFFFFF;
  padding: 10px;
  background-color: rgba(13, 19, 33, 1);
  border: none;
 }
 
 .why-web-development{
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color:rgba(13, 19, 33, 1);
 }

 /* development-description */

 .development-description{
  display: flex;
  width: 1025px;
  height: 400px;
  padding: 10px 140px;
  gap: 5px;
 }
 .Layer img{
  padding: 70px;
 }
 /* inspiration */

 .inspiration{
  text-align: center;
 }

 .video{
  text-align: center;
 }
 .video video{
  border: 5px solid red;
  border-radius: 5px;
  margin-top: 20px;
 }
 .container{
  display: flex;
  margin: 50px;
  padding: 0px 0px 50px 50px;
 }
 .pro-description{
  color:rgba(13, 19, 33, 1);
  font-size: 12px;
 }

 .pro-title{
  text-align: center;
  color: rgba(13, 19, 33, 1);
  font-size: 20px;
 }