*{
  margin: 0;
  padding: 0;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}
nav ul{
  list-style: none;
}
nav li a{
  text-decoration: none;
  font-size: 28px;
  color: rgba(13, 19, 33, 1);
}

.btn-primary{
  font-size: 15px;
  padding: 10px 7px;
  border-bottom: 1px solid rgba(13, 19, 33, 1);
  border-redius: 25px;
}

 /* hero section style */

 .hero{
  background-image: url(../assets/Hero-bg.png);
  padding: 62px 100px 200px 200px;
  width: 1520px;
  height: 500px;
 }
 .hero-section{
  text-align: center;
  width: 1520px;
 }
 .title{
  text-size: 48px;
  text-align: center;
 }

 /* btn-secondary style */


 .button2{
  text-align: center;
  padding-top: 10px;
 }
 .btn-secondary{
  text-align: center;
  font-size: 15px;
 }
 .button2 .btn-secondary{
  color: #FFFFFF;
  padding: 10px;
  background-color: rgba(13, 19, 33, 1);
  border: none;
 }
 
 .why-development{
  margin-top: 119px;
  text-align: center;
  font-size: 15px;
  color:rgba(13, 19, 33, 1);
 }

 /* development-description */

 .development-description{
  display: flex;
  width: 1025px;
  height: 80px;
  padding: 80px 190px 240px 242px;
  
 }
 .Layer img{
  padding: 70px;
 }
 /* inspiration */

 .inspiration{
  text-align: center;
 }

 .video{
  text-align: center;
 }
 .video video{
  border: 5px solid red;
  border-radius: 5px;
  margin-top: 20px;
 }
 .container{
  display: flex;
  margin: 50px;
  padding: 0px 0px 50px 50px;
 }
 .pro-description{
  color:rgba(13, 19, 33, 1);
  font-size: 12px;
 }

 .pro-title{
  text-align: center;
  color: rgba(13, 19, 33, 1);
  font-size: 20px;
 }

 /* framework style */
 .framework-title{
  text-align: center;
 }
 
 .wrapper img{
  max-width: 320px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 10px;

 }
 .wrapper{
  margin: 150px auto;
  width: 60%;
  
 }
 .text-box h1{
  font-size: 24px;
  font-weight: bold;
 }
 .text-box p{
  font-size: 12px;
  color: rgba(13, 19, 33, 1);
  justify-content: justify;
 }
 .text-box .learn{
  font-size: 18px;
  font-weight: bold;
  margin-left: 140px;
 }


 /* div-container style */

.text{
  padding: 10px 100px 80px 80px;
}
.group-1 img{
  width: 150px;
  height: 100px;
  float: right;
}
.group-2 img{
  float: left;
  width: 150px;
  height: 100px;
}
.group-3 img{
  float: right;
  width: 150px;
  height: 100px;
}
/* skills style */

.skills-container{
  display: flex;
  gap: 24px;
}
.skills-card{
  gap: 24px;
}

.section-title{
  text-align: center;
}
.section-descriptio{
  text-align: center;
}


.group-1{
  padding: 24px 16px 30px 50px;
}
.skill{
  padding: 50px;
  box-shadow: 0px 0px 20px 0px rgb(176,176,176);
}
.skills{
  padding: 40px;
  box-shadow: 0px 2px 40px 0px rgb(253, 239, 239);
}
.skill-group1{
  padding: 20px;
  box-shadow: 0px 0px 5px 5px rgb(240, 224, 224);
}
.skill-group1 img{
float: left;
padding: 25px;
}
.skill-group1 .btn{
  margin: 25px ;
}
 
/* submit-comment */

.submit-comment{
  background-image: url(../assets/handshake.png);
  background-width: 400xp 200px;
  background-repeat: no-repeat;
  background-size: 0xp 0px 200px 200px;
  align-items: center;
  padding: 37px;
  width: 1520px;
  height: 900px;
}
.submit-description{
  color: white;
  text-align: center;
  padding: 300px;
}

/* footer-section */
.footer-section h3{
  padding: 10px 25px 20px 20px;
}
.footer-section ul{
list-style: none;
}
.footer-section li{
  float: right;
  font-size: 20px;
}
.footer-section li a{
  margin: 10px 20px;
  padding: 10px
  
}
